.card-header {
	padding-top: 0.35em;
}

.date {
	font-size: 15px;
}
.showSearch {
	position: relative;
}

.showSearch > .prompt {
	margin: 0em;
	outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	text-shadow: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1.21428571em;
	padding: 0.67857143em 1em;
	font-size: 1em;
	background: #ffffff;
	border: 1px solid rgba(34, 36, 38, 0.15);
	color: rgba(0, 0, 0, 0.87);
	-webkit-box-shadow: 0em 0em 0em 0em transparent inset;
	box-shadow: 0em 0em 0em 0em transparent inset;
	-webkit-transition: background-color 0.1s ease, color 0.1s ease,
		border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
	transition: background-color 0.1s ease, color 0.1s ease,
		border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
	transition: background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease,
		border-color 0.1s ease;
	transition: background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease,
		border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
}
.showSearch .prompt {
	border-radius: 500rem;
}

.showSearch .prompt ~ .search.icon {
	cursor: pointer;
}
