.watched-header {
	left: 0;
	line-height: 200px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 100%;
	font-family: "Sunflower", cursive;
	font-size: 6em;
	color: rgba(255, 255, 255, 0.822);
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
		0 0 10px rgba(255, 255, 255, 0.5);
}

.watched-sub-header {
	left: 0;
	line-height: 200px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 65%;
	width: 100%;
	font-family: "Sunflower", cursive;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.822);
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
		0 0 10px rgba(255, 255, 255, 0.5);
}

.watched-description {
	left: 0;
	line-height: 200px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 70%;
	width: 100%;
	font-family: "Sunflower", cursive;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.822);
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
		0 0 10px rgba(255, 255, 255, 0.5);
}

.watched-description-2 {
	left: 0;
	line-height: 200px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 73%;
	width: 100%;
	font-family: "Sunflower", cursive;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.822);
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
		0 0 10px rgba(255, 255, 255, 0.5);
}
